{% extends "header_footer.html" %}
{% block content %}
{% load static %}

    <!--contact section start -->
  <div class="contact_section layout_padding margin_top_80">
        {% if messages %}
    {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;">
                <strong>Message sent!</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
      {% else %}
      {% endif %}

    <div class="container">
      <div class="image_2"><img src= "{% static 'img/img-2.png' %}"></div>
      <h1 class="about_taital">Contact Us</h1>
      <div class="row">
          <div class="col-md-6">
            <div class="mail_sectin">          
              <form method="post" action="{% url 'contact_form' %}">
                  {% csrf_token %}
                  <input type="text" class="email-bt" placeholder="Your Name" name="Name" required>
                  <input type="email" class="email-bt" placeholder="Email" name="email" required>
                  <input type="text" class="email-bt" placeholder="Phone Number" name="phone" required>
                  <textarea class="massage-bt" placeholder="Message" rows="5" name="message" required></textarea>
                  <button type="submit" class="send_bt">Send</button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="map_main">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=P28J+683,E 8/1 E-8,Islamabad,Islamabad Capital Territory&zoom=12" width="600" height="480" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!--contact section end -->
 {% endblock  %}